set -a
HOST=<HOSTNAME>
PORT=<PORT>
DB_NAME=<DATABASE NAME>
DB_PASS=<DATABASE ADMIN PASSWORD>
DB_USER=<DATABASE ADMIN USERNAME>
DB_USER_EMAIL=<DATABASE ADMIN USER EMAIL>
DB_HOST=<DATABASE HOST>
REDIS_HOST=<REDIS HOST>
set +a
